@font-face {
    font-family: 'times_new_romanregular';
    src: local('Times'),
         url('/fonts/Times Roman.woff2') format('woff2'),
         url('/fonts/Times Roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@keyframes fadeout {
    0%   {opacity: 1;}
    100% {opacity: 0;}
}

* {margin: 0; padding: 0; font-weight: normal;}
body {background: #0000ee; color: white; font-family: 'times_new_romanregular', 'Times New Roman', 'Times', serif;}
body, html {height: 100%;}
img {max-width: 100%;}
html {overflow-y: scroll;}
a {color: white;}
body.black a {color: black;}
#innerbody {position: relative;}
#innerbody, #content .fullscreen, #splash {align-items: center; display: flex; justify-content: center; min-height: 100%;}
#splash {background: #0000ee; position: fixed; top: 0; left: 0; z-index: 9; width: 100%; pointer-events: none;
    animation-name: fadeout; 
    animation-delay: 2s; 
    animation-duration: 0.3s; 
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
#splash > div:not(.line) {padding: 0 30px 2em;
    animation-name: fadeout; 
    animation-delay: 1.7s; 
    animation-duration: 0.3s; 
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
#splash .medium {display: inline-block; margin: 0 0.15em;}
#splash .medium span {display: inline-block; margin: 0 0.07em 0 0;}
#splash .medium span:first-child {margin-right: 0.1em;}
@media screen and (max-width: 600px) {
    #splash .medium {display: block; margin: 0.15em 0 0.15em 0.15em;}
    #splash > div {text-align: center;}
}

.line {position: fixed; top: 0; height: 100vh; width: 1px; background: rgba(255,255,255,0.13); z-index: 0; padding: 0!important;}
.bgcolor .line {background: rgba(255,255,255,0.05);}
.line1 {left: 2vw;}
.line2 {left: 26%;}
.line3 {left: 50%;}
.line4 {right: 26%;}
.line5 {right: 2vw;}
.line6 {display: none;}
.line7 {display: none;}

/* FONT SIZES */
body, .small {font-size: 1.5vw; line-height: 1.25;}
.post #content p:first-of-type, blockquote, .smallmedium {font-size: 2.1vw;}
blockquote {padding-left: 2.1vw;}
.medium, h1 {font-size: 5vw; line-height: 1.05;}
h1 {padding-bottom: 0.4em;}
h2 {padding-bottom: 0.6em; padding-top: 0.6em;}
.large {font-size: 10vw;}


#scrolltotop, #logo, #menu, #nextlink {position: fixed; top: 1.5vw; z-index: 2;}
#scrolltotop, #logo, #menu {text-transform: lowercase;}
#menu {right: 2vw; position: absolute;}
#menu li {list-style: none; display: inline;}
#menu li a {display: inline-block; margin: 0 0 0 1.5vw;}
#logo {left: 2vw; top: 1.5vw; line-height: 1; display: block; border: 1px solid rgba(255, 255, 255,0.5);}
#logo img {width: 3.35vw; vertical-align: top; display: block;}
.bgcolor #logo {background: url(/img/icon-196x196-transparent.png) center center / contain no-repeat; border: 1px solid rgba(255, 255, 255,0.4);}
.bgcolor #logo img {opacity: 0;}
#scrolltotop {top: auto; bottom: 1.7vw; right: 2vw; opacity: 0; pointer-events: none; transition: opacity 0.3s ease-in-out; max-width: calc(35% - 30px);}
#nextlink {top: auto; bottom: 1.7vw; left: 2vw; right: auto; position: absolute; max-width: calc(65% - 30px); text-transform: lowercase;}
.scrolled #scrolltotop {opacity: 1; pointer-events: all;}
#content {width: 48%; text-align: left; margin: 0 auto; padding: 12vw 2vw 17vw;}
#content h1 {text-align: center;}
body:not(.home) #content h1 {padding-bottom: .7em;}
.home #content {width: 60%; text-align: center; padding-bottom: 12vw;}
#content p, #content ol, #content ul {padding-bottom: 1.25em;}
blockquote {margin-top: 0.5em; border-left: 2px solid white; margin-bottom: 1.35em; padding-left: 2.1vw;}
#content img {width: 100%; max-width: 100%; margin-bottom: 0.2em;}
#content ul {margin-left: 1.4vw;}
#content ol {margin-left: 2.4vw;}
#content p:last-child {padding-bottom: 0;}
#content .fullscreen {width: 100%; left: 0; min-height: 100vh;}
.portfolio h1 {margin: 0 -15vw; padding: 0!important;}
.portfolio h1 + p {margin-top: 2em;}
.post .fullscreen h1 {position: relative; margin: 0 -15vw; padding: 1.2em 0 1.4em!important;}
#content .fullscreen > a {display: block; margin: 175px 0 175px 0;}
.post #content,
.portfolio #content {padding-top: 0;}
.portfolio #content .svg {width: 50vw;}
.portfolio #content .svg svg {width: 100%; height: 100%; position: relative; right: 2vw;}
#scrolldown {position: absolute; transform: rotate(180deg) scaleX(1.75) scale(2); left: 50%; margin-top: -15vh; margin-left: -0.2em;}
#postdate {font-style: italic; padding-bottom: 1em;}

@media screen and (min-width: 2000px) {
    /* FONT SIZES */
    body, .small {font-size: 30px;} /*  0.015*2000  */
    .post #content p:first-of-type, blockquote, .smallmedium {font-size: 42px;} /*  0.021*2000  */
    blockquote {padding-left: 42px;}
    .medium, h1 {font-size: 100px;} /*  0.05*2000  */
    .large {font-size: 200px;} /*  0.1*2000  */
    .portfolio #content .svg,
    #content {width: 960px;} /*  0.48*2000  */
    .home #content {width: 1250px;} /*  0.6*2000  */
    #content ul {margin-left: 28px;}
    #logo img {width: 67px;}
    /*
    .line1 {left: 2vw;}
    .line2 {left: 18%;}
    .line3 {left: 34%;}
    .line4 {left: 50%;}
    .line5 {right: 34%;}
    .line6 {display: block; right: 18%;}
    .line7 {display: block; right: 2vw;}
    */
}

@media screen and (max-width: 1600px) {
    /* FONT SIZES */
    body, .small {font-size: 24px;} /*  0.015*1600  */
    .post #content p:first-of-type, blockquote, .smallmedium {font-size: 34px;} /*  0.021*1600  */
    blockquote {padding-left: 34px;}
    .medium, h1 {font-size: 80px;} /*  0.05*1600  */
    .large {font-size: 10vw;} /*  0.1*1600  */
    .portfolio #content .svg {width: calc(100vw - 75px); max-width: 800px;}
    #content {width: 768px;} /*  0.48*1600  */
    .home #content {width: 960px; padding-bottom: 192px;} /*  0.6*1600  */
    .portfolio h1, .post .fullscreen h1 {margin: 0 -11vw;}

    #menu {right: 30px; top: 25px;}
    #logo {top: 25px;}
    #logo img {width: 54px;}
    #logo, #nextlink {left: 30px;}
    #scrolltotop {right: 30px;}
    #content {padding: 192px 30px 272px;}
    #scrolltotop, #nextlink {bottom: 25px;}
    #content ul {margin-left: 22px;}

    .line1 {left: 30px;}
    .line2 {left: 50%;}
    .line3 {right: 30px; left: auto;}
    .line4 {display: none;}
    .line5 {display: none;}
    .line6 {display: none;}
    .line7 {display: none;}
}

.mobile {display: none;}
@media screen and (max-width: 1100px) {
    #logo, #scrolltotop {position: absolute;}
    .large {font-size: 80px;} /*  0.10*1600  */
    .portfolio h1 {margin: 0;}
    .post .fullscreen h1 {margin: 0; padding: 2.5em 0 2.7em!important;}
    #nextlink .mobile {display: inline;}
    #nextlink .desktop {display: none;}
}












#lightbox {width: 100%; height: 100%; position: fixed; top: 0; left: 0; background: rgba(0,0,0,1); z-index: 9999999; line-height: 0; cursor: pointer; display: none;}
#lightbox .img {
    position: relative; 
    top: 50%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    max-width: 100%;
    max-height: 100%;
}
#lightbox .img img {opacity: 0; pointer-events: none; width: auto;}
@media screen and (min-width: 1200px) {
    #lightbox .img {
        max-width: 1200px;
    }
}
@media screen and (min-height: 1200px) {
    #lightbox .img {
        max-height: 1200px;
    }
}
#lightbox span {display: block; position: fixed; bottom: 13px; height: 1.5em; line-height: 1.4em; width: 100%; text-align: center; color: white; text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}

#lightbox span {display: none;}

#lightbox .videoWrapperContainer {
    position: relative; 
    top: 50%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    max-width: 900px;
    max-height: 100%;
}
#lightbox .videoWrapperContainer .videoWrapper {
    height: 0;
    line-height: 0;
    margin: 0;
    padding: 0;
    position: relative;
    padding-bottom: 56.333%; /* custom */
    background: black;
} 
#lightbox .videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    display: block;
}   
#lightbox #prev, #lightbox #next {height: 50px; line-height: 36px; display: none; margin-top: -25px; position: fixed; top: 50%; padding: 0 15px; cursor: pointer; text-decoration: none; z-index: 99; color: white; font-size: 60px;}
#lightbox.gallery #prev, #lightbox.gallery #next {display: block;}
#lightbox #prev {left: 0;}
#lightbox #next {right: 0;}
#lightbox #close {height: 50px; width: 50px; position: fixed; cursor: pointer; text-decoration: none; z-index: 99; right: 0; top: 0;}
#lightbox #close:after, #lightbox #close:before {position: absolute; margin-top: 22px; margin-left: 14px; content: ""; height: 3px; background: white; width: 23px;
-webkit-transform-origin: 50% 50%;
-moz-transform-origin: 50% 50%;
-o-transform-origin: 50% 50%;
transform-origin: 50% 50%;
/* Safari */
-webkit-transform: rotate(-45deg);
/* Firefox */
-moz-transform: rotate(-45deg);
/* IE */
-ms-transform: rotate(-45deg);
/* Opera */
-o-transform: rotate(-45deg);
}
#lightbox #close:after {
/* Safari */
-webkit-transform: rotate(45deg);
/* Firefox */
-moz-transform: rotate(45deg);
/* IE */
-ms-transform: rotate(45deg);
/* Opera */
-o-transform: rotate(45deg);
}
#lightbox, #lightbox * {
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
}
