<IfModule mod_expires.c>
# Enable expirations
ExpiresActive On
# CSS
ExpiresByType text/css "access plus 1 month"
</IfModule>

<IfModule mod_expires.c>
# Enable expirations
ExpiresActive On
# Javascript
ExpiresByType application/javascript "access plus 1 month"
</IfModule>

<IfModule mod_expires.c>
# Enable expirations
ExpiresActive On
# HTML
ExpiresByType text/html "access plus 2 days"
</IfModule>

<IfModule mod_expires.c>
# Enable expirations
ExpiresActive On
# My favicon
ExpiresByType image/x-icon "access plus 1 year"
# Images
ExpiresByType image/gif "access plus 1 month"
ExpiresByType image/png "access plus 1 month"
ExpiresByType image/jpg "access plus 1 month"
ExpiresByType image/jpeg "access plus 1 month"
</IfModule>

<IfModule mod_headers.c>
# Set XSS Protection header
Header set X-XSS-Protection "1; mode=block"
</IfModule>

<IfModule mod_headers.c>
# Unset Server Technology header
Header unset X-Powered-By
</IfModule>

ErrorDocument 404 /404.html

Redirect /portfolio/studioinhout/ /portfolio/studio-inhout/
Redirect /tno/v1/ http://apps.usecue.com/tno/v1/
Redirect /about-me/ /about/
Redirect /2016/01/04/no-javascript-please.html /blog/no-javascript-please/
Redirect /2015/05/30/the-viewport-meta-tag-on-desktop.html /blog/the-viewport-meta-tag-on-desktop/
Redirect /2015/08/14/the-race-to-zero-in-webhosting.html /blog/the-race-to-zero-in-webhosting/
Redirect /2015/05/05/the-web-notifications-api.html /blog/the-web-notifications-api/
Redirect /blog/how-to-get-a100-google-lighthouse-score/ /blog/how-to-get-a-100-google-lighthouse-score/
Redirect /nl/blog/usecues-also-known-as-affordances/ /blog/usecues-also-known-as-affordances/
