</div></td></tr></table>
	</div>
	
	<div id="menu"><table cellpadding="0" cellspacing="0"><tr><td><div id="content">
		    <a href="/">home.</a><br />
		    <a href="/over-ons/">over ons.</a><br />
		    <a href="/portfolio/">portfolio.</a><br />
		    <a href="/werkwijze/">werkwijze.</a><br />
		    <a href="/contact/">contact.</a><br />		
	</div></td></tr></table></div>
</div>
<div id="controls" class="{{ page.layout }}">
	<div id="innercontrols">
		<a href="#" onclick="menu();"><img src="/img/menu2.png" class="black" /><img src="/img/menu.png" class="white" /></a>
		<a href="#" onclick="prev();"><img src="/img/back2.png" class="black" /><img src="/img/back.png" class="white" /></a>
		<a href="#" onclick="next();"><img src="/img/next2.png" class="black" /><img src="/img/next.png" class="white" /></a>
	</div>
	<div id="title">Usecue <span>&nbsp;web development</span></div>
	<div id="pagenumber">{{ this_i | plus: 1 }}/{{ num_of_pages }}<br />&nbsp;</div>
</div>


</body>

</html>