

<div class="title" class="showmobile">Usecue <span>&nbsp;web development</span></div>

</div></div></div>
	
	<div id="menu"><div class="outercontent"><div class="content">
		    <a href="/">home.</a><br />
		    <a href="/about-me/">about me.</a><br />
		    <a href="/portfolio/">portfolio.</a><br />
		    <a href="/blog/">blog.</a><br />
		    <a href="/contact/">contact.</a><br />		
  </div></div></div>


<div id="controls" class="showdesktop {{ page.layout }}">
	<div class="innercontrols">
		<a onclick="menu();" class="openmenu"><img src="/img/menu2.png" class="black" alt="menu" /><img src="/img/menu.png" class="white" alt="menu" /></a>
		<a onclick="menu();" class="closemenu"><img src="/img/close2.png" class="black" alt="close" /><img src="/img/close.png" class="white" alt="close" /></a>
		{% if page.layout == 'portfolio' or page.layout == 'post' %}
    <a onclick="prev();"><img src="/img/back2.png" class="black" alt="previous" /><img src="/img/back.png" class="white" alt="previous" /></a>
		<a onclick="next();"><img src="/img/next2.png" class="black" alt="next" /><img src="/img/next.png" class="white" alt="next" /></a>
    {% endif %}
	</div>
	<div class="title" class="showdesktop">Usecue <span>&nbsp;web development</span></div>
</div>
    <script>
    //open external links in a new window
    function externalLinks() {
      for(var c = document.getElementsByTagName("a"), a = 0;a < c.length;a++) {
        var b = c[a];
        b.getAttribute("href") && b.hostname !== location.hostname && (b.target = "_blank")
      }
    }
    externalLinks();
    </script>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-1168883-1', 'auto');
  ga('send', 'pageview');

</script>
{% if page.layout == 'home' %}<script src="/js/particles.min.js"></script>{% endif %}
{% include open-embed.html %}
{% include lightbox.html lightbox_captions="false" %}
</body>

</html>