<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" /> 
<title>{{ page.title }} | {{ site.title }}</title>
{% assign pagecontent_description = page.content | markdownify | replace: '.', '. ' | replace: '</h2>', ': ' | replace: '</h3>', ': ' | replace: '</h4>', ': ' | strip_html | strip_newlines | replace: '  ', ' ' | truncate: 160 %}
<meta name="description" content="{% if pagecontent_description.size > 10 %}{{ pagecontent_description }}{% else %}{{ site.description }}{% endif %}">

<link rel="shortcut icon" type="image/png" href="/img/icon-196x196.png" />
<link rel="shortcut icon" sizes="196x196" href="/img/icon-196x196.png" />
<link rel="apple-touch-icon" href="/img/icon-196x196.png" />

<meta id="viewport" name="viewport" content="width=device-width">

<!-- Facebook and Twitter integration -->
<meta property="og:title" content="{{ page.title }}"/>
{% if page.image %}<meta property="og:image" content="{{ site.url }}{{ page.image }}"/>{% endif %}
<meta property="og:url" content="{{ site.url }}{{ page.url }}"/>
<meta property="og:type" content="article">
<meta property="og:site_name" content="{{ site.title }}"/>
<meta property="og:description" content="{% if pagecontent_description.size > 10 %}{{ pagecontent_description }}{% else %}{{ site.description }}{% endif %}"/>

<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@{{ site.twitter }}">
<meta name="twitter:title" content="{{ page.title }}" />
{% if page.image %}<meta name="twitter:image" content="{{ site.url }}{{ page.image }}" />{% endif %}
<meta name="twitter:url" content="{{ site.url }}{{ page.url }}" />
<meta name="twitter:description" content="{% if pagecontent_description.size > 10 %}{{ pagecontent_description }}{% else %}{{ site.description }}{% endif %}" />

<link rel="publisher" href="https://plus.google.com/+UseCuewebdevelopmentAmsterdam">

<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url }}">
<link rel="sitemap" type="application/xml" title="Sitemap" href="{{ "/sitemap.xml" | prepend: site.baseurl | prepend: site.url }}" />

<script>
    if (screen.width < 450) {
      document.getElementById("viewport").setAttribute("content", "width=450");
    } else {
      document.getElementById("viewport").setAttribute("content", "width=device-width");
    }
</script>

<link rel="stylesheet" type="text/css" href="/css/style.css">

</head>

<body id="top" class="{{ page.layout }}" style="{% if page.color %}background-color: {{ page.color }};{% endif %}">
    <a id="logo" href="/" class="medium underline">u</a>

    <ul id="menu">
        <li><a href="/about/">About</a></li>
        <li><a href="{% assign siteportfolio = site.portfolio | sort: 'order' %}{{ siteportfolio[0].url }}">Portfolio</a></li>
        <li><a href="/blog/">Blog</a></li>
        <li><a href="/contact/">Contact</a></li>
    </ul>
    <div id="innerbody">
        <div id="content">

