{% if page.layout != 'post' %}
    {% assign sorted_pages = site.portfolio | sort: 'order' %}
{% else %}
    {% assign sorted_pages = site.posts reversed %}
{% endif %}

{% for item in sorted_pages %}
    {% if item.url == page.url %}
    	{% assign this_i = forloop.index0 %}
    	{% assign num_of_pages = forloop.length %}
    	{% assign last_i = forloop.length | minus: 1 %}
    	{% assign next_i = forloop.index0 | plus: 1 %}
    	{% assign prev_i = forloop.index0 | minus: 1 %}
	{% endif %}
{% endfor %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" /> 
<title>{{ page.title }} | {{ site.title }}</title>
{% assign pagecontent_description = page.content | markdownify | replace: '.', '. ' | replace: '</h2>', ': ' | replace: '</h3>', ': ' | replace: '</h4>', ': ' | strip_html | strip_newlines | replace: '  ', ' ' | truncate: 160 %}
<meta name="description" content="{% if pagecontent_description.size > 10 %}{{ pagecontent_description }}{% else %}{{ site.description }}{% endif %}">

<link rel="shortcut icon" type="image/png" href="/img/icon-196x196.png" />
<link rel="shortcut icon" sizes="196x196" href="/img/icon-196x196.png" />
<link rel="apple-touch-icon" href="/img/icon-196x196.png" />

<meta id="viewport" name="viewport" content="width=device-width">

<!-- Facebook and Twitter integration -->
<meta property="og:title" content="{{ page.title }}"/>
{% if page.image %}<meta property="og:image" content="{{ site.url }}{{ page.image }}"/>{% endif %}
<meta property="og:url" content="{{ site.url }}{{ page.url }}"/>
<meta property="og:type" content="article">
<meta property="og:site_name" content="{{ site.title }}"/>
<meta property="og:description" content="{% if pagecontent_description.size > 10 %}{{ pagecontent_description }}{% else %}{{ site.description }}{% endif %}"/>

<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@{{ site.twitter }}">
<meta name="twitter:title" content="{{ page.title }}" />
{% if page.image %}<meta name="twitter:image" content="{{ site.url }}{{ page.image }}" />{% endif %}
<meta name="twitter:url" content="{{ site.url }}{{ page.url }}" />
<meta name="twitter:description" content="{% if pagecontent_description.size > 10 %}{{ pagecontent_description }}{% else %}{{ site.description }}{% endif %}" />

<link rel="publisher" href="https://plus.google.com/+UseCuewebdevelopmentAmsterdam">

<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url }}">
<link rel="sitemap" type="application/xml" title="Sitemap" href="{{ "/sitemap.xml" | prepend: site.baseurl | prepend: site.url }}" />
<link rel="stylesheet" type="text/css" href="/css/style.css">

</head>

<body id="body" {% if page.color %}style="background{% if page.layout == '404' %}-color{% endif %}: {{ page.color }};"{% endif %} class="{{ page.layout }}">
	{% if page.layout == 'home' %}<div id="particles-js"></div>{% endif %}
	{% if page.layout == 'portfolio' %}<div id="backgroundtriangle" style="background-image: url(//images.weserv.nl/?url=www.usecue.com{{ page.image }}&w=500&h=1000&t=squaredown);"><div id="triangle-topleft" style="border-top-color: {{ page.color }};"></div></div>{% endif %}
    
    <div class="outercontent"><div class="content">
        
    <div class="innercontrols showmobile">
        <a onclick="menu();" class="openmenu"><img src="/img/menu2.png" class="black" alt="menu" /><img src="/img/menu.png" class="white" alt="menu" /></a>
        <a onclick="menu();" class="closemenu"><img src="/img/close2.png" class="black" alt="close" /><img src="/img/close.png" class="white" alt="close" /></a>
        {% if page.layout == 'portfolio' or page.layout == 'post' %}
        <a onclick="prev();"><img src="/img/back2.png" class="black"  alt="previous" /><img src="/img/back.png" class="white" alt="previous" /></a>
        <a onclick="next();"><img src="/img/next2.png" class="black" alt="next" /><img src="/img/next.png" class="white" alt="next" /></a>
        {% endif %}
    </div>

    <div class="innercontent">
