{% assign sorted_pages2 = site.pages | sort: 'order' %}

{% assign sorted_pages = "" | split: ""  %}
{% for item in sorted_pages2 %}
	{% unless item.url == "/biggie-smalls.json" %}	
		{% assign sorted_pages = sorted_pages | push: item %}
	{% endunless %}	
{% endfor %}

{% for item in sorted_pages %}
    {% if item.url == page.url %}
    	{% assign this_i = forloop.index0 %}
    	{% assign num_of_pages = forloop.length %}
    	{% assign last_i = forloop.length | minus: 1 %}
    	{% assign next_i = forloop.index0 | plus: 1 %}
    	{% assign prev_i = forloop.index0 | minus: 1 %}
	{% endif %}
{% endfor %}
<!DOCTYPE html>
<html>
<head>
<title>{{ page.title }}</title>
<meta charset="utf-8" /> 
<script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
<script src="http://code.jquery.com/ui/1.8.21/jquery-ui.min.js"></script>
<script src="/js/jquery.ui.touch-punch.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/style.css">
<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
<script>
function next() {
	if(document.getElementById('body').className == 'menu') {
		document.getElementById('body').className = '';
		setTimeout(function(){next()}, 400);
		return false;
	}
	document.getElementById('controls').style.display = 'none'; 
	document.getElementById('innerpage').className = 'next'; 
	setTimeout(function(){
		document.location.href='{% if num_of_pages > next_i %}{{ sorted_pages[next_i].url }}{% else %}{{ sorted_pages[0].url }}{% endif %}';
	}, 900);
	return false;
}
function prev() {
	if(document.getElementById('body').className == 'menu') {
		document.getElementById('body').className = '';
		setTimeout(function(){prev()}, 400);
		return false;
	}
	document.getElementById('controls').style.display = 'none'; 
	document.getElementById('innerpage').className = 'prev'; 
	setTimeout(function(){
		document.location.href='{% if prev_i < 0 %}{{ sorted_pages[last_i].url }}{% else %}{{ sorted_pages[prev_i].url }}{% endif %}';
	}, 900);
	return false;
}
var timeout;
function menu() {
	clearTimeout(timeout);
	if(document.getElementById('body').className == 'menu') {
		document.getElementById('body').className = '';
		timeout = setTimeout(function(){document.getElementById('menu').style.zIndex = '-5'}, 600);
	}
	else {
		document.getElementById('menu').style.zIndex = '5'
		document.getElementById('body').className = 'menu'; 
	}
	return false;
}
$(document).ready( function() {
    $('#innerpage').draggable({ 
        axis: 'x', 
        revert: true,
        revertDuration: 100,
        axis: 'x',
        drag: function (e, ui){
            y2 = ui.position.top;
            x2 = ui.position.left;
            if(x2>150){prev();}
                    if(x2<-150){next();}
                   
        },
        start: function(e, ui) {
            y1 = ui.position.top;
            x1 = ui.position.left;
            
        },
        stop: function(e, ui) {
            
        }        
    });
    $('iframe').load(function(){
        $(this).delay(1000).css('opacity','1');
        $("#imgoverlay").delay(1000).css('opacity','1');
    });
    $(window).resize();
});

$(window).resize( function() {
    var trianglewidth = ($(window).width()-1100)/2;
    $('#backgroundtriangle').css('height',$(window).height()+'px');
    $('#triangle-topleft').css('border-top-width',$(window).height()+'px');
    $('#backgroundtriangle').css('width',trianglewidth+'px');
    $('#triangle-topleft').css('border-right-width',trianglewidth+'px');
});
</script>
</head>

<body id="body">
<div id="page" class="{{ page.layout }}">

	<div id="innerpage">
	{% if page.layout == 'portfolio' %}<div id="backgroundtriangle" style="background-image: url({{ page.image }});"><div id="triangle-topleft" style="border-top-color: {{ page.color }};"></div></div>{% endif %}
		<table cellpadding="0" cellspacing="0"><tr><td style="background-color: {{ page.color }};"><div id="content">