{% include header.html %}
<table cellpadding="0" cellspacing="0"><tr><td>
<iframe src="{{ page.address }}" class="desktop" scrolling="no" style="background-color: {{ page.color }};"></iframe>
<iframe src="{{ page.address }}" class="mobile" scrolling="no" style="background-color: {{ page.color }};"></iframe>
<div id="bezel" style="background-color: {{ page.color }};"></div>
<img src="/img/devices.png" />
</td><td>
<h1>{{ page.title }}</h1>
{{ content }}
<br /><br />
<a href="http://www.google.com" target="_blank" class="btn">bekijk de website</a>
</td></tr></table>
{% include footer.html %}