{% include header.html %}
<table cellpadding="0" cellspacing="0"><tr><td>
<div class="desktop" style="background-color: {{ page.color }};"><iframe src="{{ page.address }}" scrolling="no" style="background-color: {{ page.color }};"></iframe></div>
<div class="mobile{% if page.mobile == 450 %} width450{% endif %}" style="background-color: {{ page.color }};"><iframe src="{{ page.address }}" scrolling="no" style="background-color: {{ page.color }};"></iframe></div>
<div id="bezel" style="background-color: {{ page.color }};"></div>
<img id="imgoverlay" src="/img/devices.png" />
<div id="loading">Bezig met laden..<span>.</span></div>
</td><td id="textcell">
<h1>{{ page.title }}</h1>
{{ content }}

<a href="{{ page.address }}" target="_blank" class="btn">bekijk website</a>
</td></tr></table>
{% include footer.html %}