{% include header.html %}

<div class="col50">
<div class="desktop"><iframe src="{{ page.address }}" scrolling="no" style="background-color: {{ page.color }};"></iframe></div>
<div class="mobile{% if page.mobile == 450 %} width450{% endif %}" style="background-color: {{ page.color }};"><iframe src="{{ page.address }}" scrolling="no" style="background-color: {{ page.color }};"></iframe></div>
<div id="bezel" style="background-color: {{ page.color }};"></div>
<img id="imgoverlay" src="/img/devices.png" />
<div id="loading">Bezig met laden..<span>.</span></div>
</div><div class="col50" id="textcell">
<h1>{{ page.title }}</h1>
{{ content }}
<br />
<a href="{{ page.address }}" target="_blank" class="btn">bekijk website</a>
</div>
{% include footer.html %}